@import url(./reset.css);
@import url(./highlight.js.scss);

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(./assets/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(./assets/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'UbuntuMono';
    font-weight: 400;
    src: url(./assets/UbuntuMono-Regular.ttf);
}