@import url(./reset.css);
@import url(./highlight.js.scss);

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(./assets/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url(./assets/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(./assets/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'UbuntuMono';
    font-weight: 400;
    src: url(./assets/UbuntuMono-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
    font-size: 100%;

    @media screen and (max-width: 700px) {
        font-size: 24px;
    }
}

code {
    font-family: UbuntuMono;
    background-color: rgba(14, 87, 63, 0.03);
    padding: 4px 5px;
    border-radius: 5px;
    font-weight: 100;
}

strong { font-weight: 500; }

