<div id="container">
  <header [style.height.px]="headerHeight">
    <img src="../assets/testy_white.svg" />
    <div id="tagline" [style.height.em]="taglineHeight" [style.margin-bottom.em]="taglineHeight">
      The modern TypeScript testing framework.
    </div>

    <div class=buttons>
      <ul>
        <li>
          <a href="https://github.com/Testy/TestyTs">View on GitHub</a>
        </li>
        <li>-</li>
        <li>
          <a href="https://marketplace.visualstudio.com/items?itemName=Testy.vscode-testyts-test-adapter">Vs Code Tests Explorer</a>
        </li>
      </ul>
    </div>
  </header>

  <div id="content" [style.padding-top.px]="contentPaddingTop + 48">
    <div class="panel">
      <h1> What is Testy.Ts? </h1>

      Testy.Ts is a modern TypeScript testing framework.
    </div>

    <div class="panel">

      <h1>Installation</h1>
      <div class="grid">
        <div class="left">
          To install Testy.Ts, run one of the following lines.
        </div>

        <div class="right">
          <pre class=console>
$ npm i --save-dev testyts <span class=comment>// To install locally</span>
$ npm i -g testyts <span class=comment>// To install globally</span></pre>
        </div>
      </div>

      <h1>Setup</h1>
      <div class="grid">
        <div class="left">
          To generate a <code>testy.json</code> configuration file, use the following command.
        </div>

        <div class="right">
          <pre class=console>
$ testyts init</pre>
        </div>

        <div class="left">
          Testy.Ts requires <code>experimentalDecorators</code>. To use breakpoints while debugging in Visual Studio Code,
          you must enable <code>sourceMap</code>.
        </div>

        <div class="right">
          <pre class=console>
{{'{'}}
  "compilerOptions": {{'{'}}
      "target": "es5",
      "experimentalDecorators": true,
      "sourceMap": true
  }
}</pre>
        </div>

      </div>

      <h1>Writing your first test</h1>
      <div class="grid">
        <div class="left">
          Writing tests with Testy.Ty is simple. <strong>Don't forget to export your test suites</strong>. Otherwise, they won't be discovered by
          the test runner.
        </div>
        <div class="right">
          <pre code>
@TestSuite()
export class MyTestSuite {{'{'}} 

    @Test()
    quickMaths() {{'{'}}
        expect.toBeEqual(1 + 1, 2);
    }
}</pre>
        </div>
      </div>

      <h1>Run those tests</h1>
      <div class="grid">
        <div class="left">
          To run your Testy.Ts tests, simply run the following command. Testy.Ts uses the "testy.json" file contained in the current
          directory by default. Testy.Ts will fail if there is no such file.
        </div>

        <div class="right">
          <pre class=console>
$ testyts
$ testyts --config ./config.json <span class=comment>// Custom config file</span></pre>
        </div>
      </div>

      <h1>Setup and teardown methods</h1>
      <div class="grid">
        <div class="left">
          Testy.Ts provides setup and teardown hooks.
        </div>
        <div class="right">
          <pre code>
@TestSuite()
export class MyTestSuite {{'{'}}
  
    @BeforeAll()
    beforeAll() {{'{'}}
        // This is executed before all the tests
    }
  
    @BeforeEach()
    beforeEach() {{'{'}}
        // This is executed before each test
    }
  
    @AfterEach()
    afterEach() {{'{'}}
        // This is executed after each test
    }
    
    @AfterAll()
    afterAll() {{'{'}}
        // This is executed after all the tests
    }
}</pre>
        </div>
      </div>

      <h1>Base test suites</h1>
      <div class="grid">
        <div class="left">
          This is where stuff gets interesting. Testy.Ts lets you use inheritance. This means you don't have to duplicate complex
          setup, teardown and helper functions. You also don't have to put all of your tests in the same class.
        </div>
        <div class="right">
          <pre code>
class MyBaseTestSuite {{'{'}}
    // Setup, teardown and helpers extravaganza
}
  
@TestSuite()
class MyTestSuite extends MyBaseTestSuite {{'{'}}
    // My tests
}</pre>
        </div>
      </div>

      <h1>Testcases</h1>
      <div class="grid">
        <div class="left">
          Testy.Ts allows you to run the same test multiple times with different inputs and expectations. Just pass an array of <code>TestCase</code>          to
          the <code>Test</code> decorator.

          <br>
          <br> A <code>TestCase</code> consists of a name and one or more arguments. The arguments are passed to your test
          method.
        </div>
        <div class="right">
          <pre code>
@TestSuite()
export class MyTestSuite {{'{'}}

    @Test('My test', [
          new TestCase('Two plus two is four', 2, 2, 4),
          new TestCase(`Minus one that's three`, 4, -1, 3)
    ])
    onePlusOne(a: number, b: number, result: number) {{'{'}}
        expect.toBeEqual(a + b, result);
    }
}</pre>
        </div>
      </div>

      <h1>Asserting</h1>
      <div class="grid">
        <div class="left">
          Testy.Ts comes with a whole bunch of assertion methods and also a dash of syntactic sugar sexyness.
        </div>
        <div class="right">
          <pre code>
expect.toBeTrue(2 > 1);
expect.toBeEqual('a', 'a');
expect.not.toBeEqual('p', 'np');
expect.toThrow(() => someNastyMethod());
expect.toBeSorted.inAscendingOrder([0, 1, 1, 2, 3, 5, 8]);
// More!</pre>
        </div>
      </div>

      <h1>Focusing and ignoring tests</h1>
      <div class="grid">
        <div class="left">
          You can ignore tests by adding an
          <code>X</code> before a test suite or a specific <code>Test</code> decorator. Ignored tests will still show up
          in the test report, but they will be marked as ignored.
        </div>
        <div class="right">
          <pre code>
@XTestSuite() // This test suite will be ignored
export class MyTestSuite {{'{'}} 
  // My tests
}
  
@TestSuite()
export class MyTestSuite {{'{'}}

    @XTest() // This test will be ignored
    onePlusOne() {{'{'}}
        // Some test
    }
}</pre>
        </div>

        <div class="left">
          You can also focus tests by adding an <code>F</code> before a test suite or a specific <code>Test</code> decorator.
          If one or more test or test suites are focused, only those will be ran. The others will be reported as ignored.
        </div>
        <div class="right">
          <pre code>
  @FTestSuite() // This test suite will be focused
  export class MyTestSuite {{'{'}} 
    // My tests
  }
    
  @TestSuite()
  export class MyTestSuite {{'{'}}
  
      @FTest() // This test will be focused
      onePlusOne() {{'{'}}
          // Some test
      }
  }</pre>
        </div>
      </div>

      <h1>Custom test names</h1>
      <div class="grid">
        <div class="left">
          The tests and test suites names are inferred from the method or class name by default. You can specify a custom name if you're
          into that.
        </div>
        <div class="right">
          <pre code>
@TestSuite('My glorious test suite')
export class MyTestSuite {{'{'}}
  
    @Test('Adding one plus one, should equal two')
    onePlusOne() {{'{'}}
        // Assert
        expect.toBeEqual(1 + 1, 2);
    }
}</pre>
        </div>
      </div>

    </div>

    <footer>
      License under the <a href="https://github.com/Testy/TestyTs/blob/master/LICENSE">ISC License</a> (ISC) - Copyright
      © 2019, Antoine Boisier-Michaud
    </footer>
  </div>
</div>