

#container {
    width: 100%;
}

#content {
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;

    .panel {
        overflow: visible;
        margin-bottom: 2em;
        line-height: 2em;
        margin: 0 25px 20px 25px;
    }
}

.grid {
    margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
    .panel .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 45% auto;
        grid-template-columns: 45% auto;
        gap: 30px;
        text-align: justify;
    }
}

header {
    position: fixed;
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #009b55 0%, #0e753f 100%);
    padding: 4px 0;
    padding-bottom: 60px;
    box-shadow: 0px -2px 12px rgba(0, 0, 0, 0.75);
    text-align: center;
    min-height: 4em;

    #tagline {
        font-size: 1.15em;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.8);

        @media screen and (max-width: 700px) {
            margin-left: 10px;
            font-size: 1em;
        }
    }

    img {
        text-align: left;
        height: 100%;
        min-width: 100px;
        min-height: 3rem;
        max-width: 100%;
        max-height: 175px;

        @media screen and (max-width: 700px) {
            height: 100%;
            min-width: 80px;
            max-width: 100%;
            max-height: 150px;
        }
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;

            a {
                color: white;
                font-size: 1.15em;
                padding: 8px;
                text-decoration: none;
                
                &:hover {
                    color: rgb(230, 245, 230);
                }
            }
        }
      }
}

h1 {
    font-size: 1.5em;
    line-height: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.33rem;
}

pre {
    background-color: #232323;
    color: white;
    font-family: UbuntuMono;
    line-height: 1.25em;
    border-radius: 6px;
    padding: 0.66rem;
    width: 100%;
    overflow-x: auto;

    .comment {
        font-family: UbuntuMono;
        user-select: none;
        color: #b4b4b4;
        background-color: transparent;
    }
}

.center {
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #009b55;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 15px;
    outline: none;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
        background: lighten(#009b55, 3%);
    }

    strong {
        font-weight: 700;
    }

    .fa {
        margin-top: 1px;
        font-size: 0.7em;
    }
}

footer {
    color: rgba(0, 0, 0, 0.35);
    padding: 15px 20%;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.25em;

    a {
        color: rgba(0, 0, 0, 0.35);
        font-size: inherit;

        &:hover {
            color: rgba(0, 0, 0, 0.45);
        }
    }
}